*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
.navbar-brand img{
    height: 3rem;
    width: 12rem;
}
header{
    height: 90vh;
}
.carousel-item img{
    object-fit: fill;
}
.carousel-caption{
top: 14rem;    
}
main{
    min-height: 100vh;
}
form fieldset:nth-child(2){
    width: 100%;
}
form fieldset h5{
    width: 100%;
}
.form-control, .form-control:focus{
    background-color: #495057;
    border: none;
    color: white;
    box-shadow: none;
}

.card{
    width: 100%;
    background-color: #d90368;
    color: black;
}
.card img{
    height: 13rem;
    object-fit: fill;
}
.card a{
    width: 100%;
}
.card a:hover{
    color: #d90368;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;
    background-color: #d90368;
    padding-top: .5rem;
}
footer ul{
    padding: 0;
    margin: 0;
    height: 5vh;
    list-style: none;
}

@media(min-width: 768px){
   
    .card{
        width: 45%;
    }
    form fieldset h5{
        width: auto;
    }
}
@media(min-width: 1024px){
    form fieldset:nth-child(2){
        width: 40%;
    }
    .card{
        width: 30%;
    }
    .carousel-caption{
        top: 20rem;    
        }
}

